<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.property.mapper.BuildingMapper">

    <select id="listBuilding" resultType="com.alibaba.fastjson.JSONObject">
        SELECT b.id                                       id,
               b.name                                     name,
               b.layer                                    layer,
               b.area                                     area,
               b.type                                     type,
               b.description                              description,
               b.version                                  version,
               date_format(b.gmt_create, '%Y-%m-%d %T')   gmtCreate,
               date_format(b.gmt_modified, '%Y-%m-%d %T') gmtModified
        FROM tb_building b
        WHERE b.deleted = '0'
        ORDER BY b.id ASC LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="likeBuildingNameAndType" resultType="com.alibaba.fastjson.JSONObject">
        SELECT b.id                                       id,
               b.name                                     name,
               b.layer                                    layer,
               b.area                                     area,
               b.type                                     type,
               b.description                              description,
               b.version                                  version,
               date_format(b.gmt_create, '%Y-%m-%d %T')   gmtCreate,
               date_format(b.gmt_modified, '%Y-%m-%d %T') gmtModified
        FROM tb_building b
        <where>
            <if test="name != null and name != ''">
                b.name LIKE concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                AND b.type = #{type}
            </if>
            AND b.deleted = '0'
        </where>
        ORDER BY b.id ASC LIMIT #{offSet}, #{pageRow}
    </select>
</mapper>
