<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.property.mapper.OwnerMapper">

    <select id="listOwner" resultType="com.alibaba.fastjson.JSONObject">
        SELECT o.id                                       id,
               o.role_id                                  roleId,
               o.building_id                              buildingId,
               o.building_name                            buildingName,
               o.name                                     name,
               o.login_name                               loginName,
               o.password                                 password,
               o.sex                                      sex,
               o.id_card                                  idCard,
               date_format(o.birthday, '%Y-%m-%d')        birthday,
               o.telephone                                telephone,
               o.profession                               profession,
               o.work_units                               workUnits,
               o.picture                                  picture,
               o.type                                     type,
               o.remark                                   remark,
               date_format(o.gmt_create, '%Y-%m-%d %T')   gmtCreate,
               date_format(o.gmt_modified, '%Y-%m-%d %T') gmtModified
        FROM tb_owner o
        WHERE o.deleted = '0'
        ORDER BY o.id ASC LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="likeOwnerNameAndType" resultType="com.alibaba.fastjson.JSONObject">
        SELECT o.id                                       id,
               o.role_id                                  roleId,
               o.building_id                              buildingId,
               o.building_name                            buildingName,
               o.name                                     name,
               o.login_name                               loginName,
               o.password                                 password,
               o.sex                                      sex,
               o.id_card                                  idCard,
               date_format(o.birthday, '%Y-%m-%d')        birthday,
               o.telephone                                telephone,
               o.profession                               profession,
               o.work_units                               workUnits,
               o.picture                                  picture,
               o.type                                     type,
               o.remark                                   remark,
               date_format(o.gmt_create, '%Y-%m-%d %T')   gmtCreate,
               date_format(o.gmt_modified, '%Y-%m-%d %T') gmtModified
        FROM tb_owner o
        <where>
            <if test="name != null and name != ''">
                o.name LIKE concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                AND o.type = #{type}
            </if>
            AND o.deleted = '0'
        </where>
        ORDER BY o.id ASC LIMIT #{offSet}, #{pageRow}
    </select>
</mapper>
